@font-face {
    font-family: "toon-font";
    src: url("./fonts/Copyduck.ttf");
}
@font-face {
    font-family: "EazyChat";
    src: url("./fonts/EazyChat.ttf");
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
   /*custom variables here*/
   
}

/* both panels*/

.container{
    display: flex;
}



/*---------------------------------left panel starts ---------------------------*/

.leftContainer {
    width: fit-content; /* Set the width based on content */
    position: relative;
}

.tonome_image {
    display: block;
    height: 100vh;
    border: 1vh solid black;
    width:auto; /* Use the custom variable */
}

.blackTape {
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 9vh;
    font-family: "toon-font" , sans-serif;

    background-color: black;
    opacity: 0.7;
    height: 15%;
    width: 100%;
    left: 0;
    top: 70%;
}

.blackTape > .L-HandSide{
    text-align: left;
    color:  rgb(255, 166, 0);
    padding-left: 5vh;
    align-self: center;
}

.blackTape > .R-HandSide{
    text-align: right;
    color:#29bfff;
    padding-right: 5vh;
    padding-bottom: 1vh;
    align-self: center;
}


.blackTape > .R-HandSide > .whiteLetter{
    color:white;
}


.blackTape > p > .appleImg{
    height: 9vh;
    width: auto;
    padding-right: 1vh;
    align-self: center;

}
/*---------------------------------left panel ends ---------------------------*/

/*-------------------------------right panel starts --------------------------*/

.rightContainer{
   height: 100vh;
   background-color: rgb(232, 232, 231);
}

.rightContainer > div
{
    background-color: white;
    height: 98vh;
    margin-top: 1vh;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.IntroText
{
    font-family: "EazyChat",sans-serif;
    background-color: rgb(255, 230, 1);
    padding: 5vh 0;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.formSection{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 65%;
    max-width: 65%;
    align-items: center;

}

.form-input{
    align-self: center;
}

.form-input input{
    display: flex;
    width: 250px;
    height: 30px;

}