@font-face {
    font-family: "toon-font";
    src: url("./fonts/Copyduck.ttf");
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
   /*custom variables here*/
   
}

.container {
    width: fit-content; /* Set the width based on content */
    position: relative;
}

.tonome_image {
    display: block;
    height: 100vh;
    width:auto; /* Use the custom variable */
}

.blackTape {
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 10vh;
    font-family: "toon-font" , sans-serif;

    background-color: black;
    opacity: 0.7;
    height: 15%;
    width: 100%;
    left: 0;
    top: 70%;
}

.blackTape > .L-HandSide{
    text-align: left;
    color:  rgb(255, 166, 0);
    padding-left: 10vh;
}

.blackTape > .R-HandSide{
    text-align: right;
    color:#29bfff;
    padding-right: 10vh;
}


.blackTape > .R-HandSide > .whiteLetter{
    color:white;
}


.blackTape > p > .appleImg{
    height: 10vh;
    width: auto;
    padding-right: 1vh;
}